<div class="container__small-card">

  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img
      src="https://s2.glbimg.com/6-cpeM2kxyr4qXUjdSs_q1FFFTw=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2021/I/k/TvMANMTO6uB3IUpwLw0Q/fortnite-pantera-negra.png"
       alt=""
       height="135px"

      srcset=""
      >
      <div class="small-card__title">
        <h1><a href="#">Pantera Negra </a></h1>

      </div>

      <div class="container__small-card__separator">
    <hr>
      </div>
      </div>
  </div>










